html {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: rgb(74,207,193);
}

body {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
}

header {
	width: 100%;
	background-color: rgb(74,207,193);
	padding: auto;
	margin: auto;
	overflow: hidden;
}

.header-logo {
	width: 90%;
	margin: auto;
	padding: auto;
}

nav ol {
	font-family: Helvetica, sans-serif;
	list-style-type:none;
	float:right;
	width: 100%;
	text-align: center;
}

nav li {
	display: inline;
}

nav a,
nav a:link,
nav a:visited {
	display:inline-table;
	color: white;
	font-size: 1em;
	font-weight:300;
	text-decoration: none;
}

a:hover {
  background-color: rgb(121,127,125);
	color: white;
}

.video a:hover {
	background-color: inherit;
}

.carousel-wrapper {
	background-color: rgb(148,226,218);
}

.carousel-inside {
	max-width: 870px;
	margin: 0 auto;
}

.carousel {
	overflow: hidden;
	position: relative;
	padding: 0 0 77.99%;
}

.carousel img {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-items [data-state="current"] {
	z-index: 100;
}

.carousel-items [data-state="incoming"] {
	z-index: 101;
}

.carousel-buttons {
	position: absolute;
	z-index: 1000;
}

dialog {
	border-radius: 6px;
	border: 1px solid #333;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	padding: 1em;
	width: 80%;
}

.video-open {
	position: relative;
	padding-top: 56.25%;
	min-width: 320px;
}

.video-open iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

dialog::backdrop {
	background-color: rgba(74,207,193,0.85);
}

dialog + .backdrop {
	background-color: rgba(74,207,193,0.85);
}

.btn-close {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	font-weight: bold;
	line-height: 0.6;
	font-size: 1rem;
	cursor: pointer;
	position: absolute;
	top: -16px;
	right: -16px;
}
	
.text-video {
	background-color: rgb(74,207,193);
	overflow: hidden;
	width: 100%;
}
	
.video,
.text {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.text {
	background-color: rgb(74,207,193);
}

.video {
	background-color: rgb(148,226,218);
}

.video img {
	width: 90%;
	padding-left: 5%;
}
	
.text p {
	width: 80%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	color: white;
	font-weight: 100;
	text-align: center;
}

.trips {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.trips li {
	display: inline-block;
	width: 30%;
}

.trips img {
	opacity: 0;
	-webkit-transform: translateY(140px);
}

.js-trips-animate {
	-webkit-animation: trips-fly 1s ease-out 1 forwards;
}

@-webkit-keyframes trips-fly {
	20% {
		opacity: 0;
		-webkit-transform: translateY(140px);
}

	40% {
		opacity: 1;
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

footer {
	width: 100%;
	background-color: rgb(148,226,218);
	padding: auto;
	margin: auto;
	bottom: 0;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
	font-size: .70em;
	font-weight: 100;
	text-align: center;
	clear: all;
}

@media only screen and (min-width: 37em) {
	
	#carousel {
		padding-left: 15%;
	}
	

@media only screen and (min-width: 62em) {
	
		#carousel {
			padding-left: 20%;
		}
		
		.text p {
			font-size: 1.5em;
			line-height: 1em;
		}
		
}

@media only screen and (min-width: 80em) {
	
	.header-logo {
		width: 20%;
		float: left;
		overflow: hidden;
	}
		
	nav ol {
		list-style-type:none;
		float:right;
		width: 30%;
		text-align: right;
	}
			
	.text-video {
		width: 100%;
	}
	
	.text {
		width: 45%;
		float: left;
		overflow: hidden;
	}
	
	.text p {
		width: 80%;
	}
	
	.video {
		width: 40%;
		float: right;
		background-color: rgb(74,207,193);
	}
	
	.trips-section {
		width: 100%;
	background-color: rgb(148,226,218);
	}
	
	
	footer {
		padding-top: 1%;
		padding-bottom: 1%;
		font-size: 1em;
		width: 100%;
		background-color: rgb(74,207,193);
		}
}

